.dayList{
    display:flex;
    justify-content: center;
}

.timesColumn h3{
    border: 1px black solid;
}

.namesColumn h3{
    border: 1px black solid;
}

.reasonsColumn h3{
    border: 1px black solid;
}