
.mainPatientInfo {
  background: linear-gradient(#F7FCFD ,#E9F7FA);
  height: 35vh;
  width: 100%; 
  border: 1px solid #BFCBCD;
  border-radius: 3px;
  box-shadow: 2px 2px 5px -2px #404445;
  box-sizing: border-box;
  font-size: 18px;
}

.row1 {
  display: flex;
  height: 160px;
  /* background-color: rgb(127, 140, 255); */
  margin: 5px;
}

.identifiers {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  /* background-color: rgb(252, 95, 147); */
  padding: 10px;
  text-align: left;
  line-height: 1.5;
}

.name {
  font-size: 24px;
  color: #25a9a0;
}

.identifiers div {
  margin: 10px;
}

.ptpic {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.ptpic img {
  height: 150px;
  width: 150px;
  background-color: rgb(92, 247, 151);
  border: 1px solid #BFCBCD;
  border-radius: 5px;
}

.measurements {
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  /* background-color: rgb(182, 127, 255); */
  text-align: left;
  padding: 10px;
  /* margin: 30px; */
}

.expand {
  /* position: relative; */
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.measurements div {
  margin: 10px;
}

hr {
  border: 0;
  height: 1px;
  background: #BFCBCD;
  /* background-image: linear-gradient(to right, #ccc, #999, #ccc) */
}

.row2 {
  /* display: flex; */
  height: 5000px;
  margin: 5px;
  box-sizing: border-box;
}

.address {
  height: 500px;;
  width: 50%;
  /* background-color: rgb(250, 168, 74); */
  text-align: left;
  line-height: 2;
  font-size: 16px;
  margin-left: 5px;
}

.contacts {
  font-size: 16px;
  height: 500px;
  width: 50%;
  line-height: 1.5;
  /* background-color: rgb(98, 176, 248); */
}