
.mainPatientInfo {
  background: linear-gradient(#F7FCFD ,#E9F7FA);
  height: 35vh;
  width: 100%; 
  border: 1px solid #BFCBCD;
  border-radius: 3px;
  box-shadow: 2px 2px 5px -2px #404445;
  box-sizing: border-box;
  font-size: 18px;
}

.row1 {
  display: flex;
  height: 160px;
  background-color: rgb(127, 140, 255);
  margin: 5px;
}

.identifiers {
  box-sizing: border-box;
  height: 100%;
  width: 38.5%;
  background-color: rgb(252, 95, 147);
  padding: 10px
}

.name {
  font-size: 24px;
  color: black;
}

.identifiers div {
  margin: 10px;
}

.ptpic img {
  height: 160px;
  width: 160px;
  background-color: rgb(92, 247, 151);
}

.measurements {
  height: 100%;
  width: 38.5%;
  background-color: rgb(182, 127, 255);
}

hr {
  border: 0;
  height: 1px;
  background: #BFCBCD;
  /* background-image: linear-gradient(to right, #ccc, #999, #ccc) */
}

.row2 {
  display: flex;
  height: 45%;
  background-color: rgb(253, 251, 125);
  margin: 5px;
  box-sizing: border-box;
}

.address {
  height: 100%;
  width: 50%;
  background-color: rgb(250, 168, 74);
}

.contacts {
  height: 100%;
  width: 50%;
  background-color: rgb(98, 176, 248);
}