/* 
.list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: #F6F6F6 2px solid;
    box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.75);
    width: 60vw;
    text-decoration: none;
     
} */

.patientList{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ptHeader{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 3fr;
    /* padding-right: 10px;
    padding-left: 10px; */
    font-weight: bold;
    color: whitesmoke;
    background: #25A9A0;
    height: 50px;
    width: 70%;
}

.ptHeader p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #25A9A0;
    text-align: center;
    max-height: 80px;
    opacity: 1;
    transition: linear all 0.2s;
    width: 70%;
}

.ptSearch input{
    margin-top: 10px;
    outline: none;
    border: none;
    padding: 10px;
    width: 90%
}

a{
    text-decoration: none;
    color: black;
}

.patientsList{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
