 #conditionTextHead{
    padding-bottom: 5px;
    margin-right: auto;
    display: flex;
    font-weight: bold;
    /* display: list-item;
    list-style-type: disc; */
}
#conditionText{
	display: flex;
    align-items: center;
    font-size: 12px;
}

#listContainer{
    display: flex;   
    justify-content: space-between;
	align-items: center;
}

ExpansionPanelDetails>div{
    flex: 0 50%;
}

