.dashboard{
    min-height: calc( 100vh - 135px );
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 40px 80px;
    background: #f6f6f6;
}

.dashboardLeftColumn{
    padding-right: 20px;
}

.halfAndHalf{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}