.loginContainer{
    height: 100vh;
    width: 100vw;
    background: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: 'Roboto';
    box-sizing: border-box;
}

.loginLeft{
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.loginLeft > h1 {
    font-size: 60px;
    background: #3E8EC7;
    color: white;
    padding: 40px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
}

.loginLeftContent{
    padding: 20px 40px;
}

.contentCard{
    margin-top: 20px;
}

.loginLeft h2{
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
    color: #25A9A0;
}

.loginLeft h4 {
    font-size: 20px;
    line-height: 1.2;
}

.alignRight{
    text-align: right;
}

.alignLeft{
    text-align: left;
}

.metricsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 350px;
}

.metric{
    border: 3px solid #ef652f;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.counterNumber{
    color:  #25A9A0;
    font-size: 32px;
}

.metric > p{
    font-family: 'Roboto';
    font-size: 18px;
    margin-top: 29px;
    margin-bottom: 25px;
}

.loginRight{
    background: url('medTech.jpg') no-repeat center top;
    width: 100%;
    height: 100%;
}

.filter{
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox{
    width: 40%;
    background: #ffffff;
}

.loginBox > h2{
    font-size: 50px;
    color: #fff;
    background: #3E8EC7;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
}

.lowerBox{
    height: calc( 100% - 126px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    margin: 40px 0px;
}

.lowerBox > h3{
    font-size: 20px;
    font-family: 'roboto';
    margin-bottom: 20px;
    color:#3E8EC7;
}

.loginUsername, .loginPassword{
    height: 50px;
    width: 80%;
    box-sizing: border-box;
    background: rgb(216, 216, 216);
    display: flex;
    align-items: center;
}

.lowerBox input{
    height: 100%;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto';
    padding-left: 5px;
}

.loginUsername > input{
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.circleButton{
    background: #ef652f;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    border: 8px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.circleButton:hover{
    background: #F18154;
}

.lowerBox > h4 {
    margin-top: 20px;
    width: 80%;
    text-align: right;
    font-family: 'Roboto';
    cursor: pointer;
}

