.results{
    margin-top: 20px;
}

.resultsAccordian{
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    margin-bottom: -3px; 
    transition: ease-in-out all 0.1s;
}

.addMargin{
    margin: 20px 0px;
    background: #E9F7FA;
    transition: ease-in-out all 0.1s;
}

.visibleTab{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.visibleTab > h3 {
    font-family: 'Roboto';
    text-transform: uppercase;
}

.iconContainer{
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: -5px;
    background: rgba(0,0,0,0);
    transition: ease-in-out all 0.1s, ease-in-out background 0.2s;
}

.arrowUp{
    transform: rotate(540deg);
    transition: ease-in-out all 0.1s;
}

.iconContainer:hover{
    background: rgba(0,0,0,0.08);
    transition: ease-in-out all 0.2s;
}

.parentDropdown{
    overflow: hidden;
    transition: ease-in-out all 0.1s;
    max-height: 0;
    background: #fff;
}

.labTab{
    padding: 10px 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background: #fff;
}

.labTab h3{
    text-transform: capitalize;
}

.labDropdown{
    background: #fff;
    padding: 0px 20px;
    transition: ease-in-out all 0.1s;
    max-height: 0;
    overflow: hidden;
}

.labsGraph{
    padding: 20px 0px;
}

.labCellL, .labCellM, .labCellR{
    display: flex;
    align-items: center;
}

.labCellL{
    justify-content: flex-start;
}

.labCellM{
    justify-content: center;
}

.labCellR{
    justify-content: flex-end;
}

.labHeader{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #E9F7FA;
    border: 1px solid rgba(0,0,0,0.3);
    border-right: 0;
}

.headerCell{
    padding: 5px 10px;
    border-right: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.labRow{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid rgba(0,0,0,0.3);
    border-top: 0;
    border-right: 0;
}

.labRow:nth-child(2){
    background: #f6f6f6;
}

.rowCell{
    box-sizing: border-box;
    padding: 5px 10px;
    border-right: 1px solid rgba(0,0,0,0.3);
}

.labDropdown > p {
    font-family: 'Roboto';
    font-size: 20px;
    margin-bottom: 20px;
}

.labDropdown > img {
    max-width: 600px;
    max-height: 600px;
    margin-bottom: 20px;
}