
.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
  height: 55px;
  background: linear-gradient(#84b7db, #3e8ec7 ) ;
  color: #F6F6F6;
}

.leftNav {
  display: flex;
  align-items: center;
}

.centerNav {
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
}

.centerNav a {
  display: flex;
  height: 99%;
  text-decoration: none;
  /* align-items: center */
}

.centerNav a:visited {
  color: inherit;
}

.centerNav a:hover {
  background: linear-gradient(#95c1e0,#4f98cc) 
}

/* a:focus {
  box-shadow: inset 0px 0px 7px 2px #3e8ec7;
  
} */


.vr {
  height:100%;
  width:1px;
  display:table-cell;
  background: linear-gradient(#a7cbe5,#3e8ec7)
}

.centerB {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.centerBactive {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100px;
  text-align: center;
  box-shadow: inset 0px 0px 7px 2px #3e8ec7;
  cursor: pointer;
}

.rightNav {
  height: 100%;
  display: flex;
  align-items: center;
}

.profImg {
  height: 35px;
  width: 35px;
  border-radius: 500px;
  margin-right: 10px;
  border: 1px solid #E9F7FA;
}

.logo {
  height: 45px;
  width: 45px;
}

.name {
  margin-right: 30px;
}